# ignore data
**/*.xml

**/*.csv
**/*.xlsx
**/*.pdf
**/*.exe

skatch.py


Saved Field Visits

# ignore ide project files
.idea

# ignore temp files
**/*.swp

# ignore compiled code
**/*.pyc

# ignore test results
HFC_Files_Testing/Test Results
